@keyframes animated-name {
  0% {transform: scale(0.0)}
  10% {transform: scale(0.1) rotate(90deg)} 
  20% {transform: scale(0.2) rotate(180deg)}
  30% {transform: scale(0.3) rotate(360deg)}
  40% {transform: scale(0.4) rotate(450deg)}
  50% {transform: scale(0.5) rotate(540deg)}
  60% {transform: scale(0.6) rotate(630deg)}
  70% {transform: scale(0.7) rotate(720deg)}
  80% {transform: scale(0.8) rotate(810deg)}
  90% {transform: scale(0.0) rotate(900deg)}
  100% {transform: scale(1) rotate(1080deg)}
}

.animate {
  animation: animated-name 1s linear 1;
}

.not-animated {
  color: red;
}

.tada {
  border: 30px rgb(214, 27, 231);
  border-style: groove;
}

.nothing{
  border: none;
}